In [1]:
import pandas as pd
import datetime
import sys

In [2]:
df = pd.read_pickle("./df.pkl")

In [3]:
cat_type = input()
start_date = input('Enter a date in YYYY-MM-DD format')
year, month, day = map(int, start_date.split('-'))
start_date = datetime.date(year, month, day)
end_date = input('Enter a date in YYYY-MM-DD format')
year, month, day = map(int, end_date.split('-'))
end_date = datetime.date(year, month, day)

KeyboardInterrupt: Interrupted by user

In [4]:
if start_date>=min(df.date) and end_date<=max(df.date):
    pass
else:
    print("Recheck date range given!!!")

C:\Users\siddh\AppData\Local\Temp/ipykernel_15732/495276918.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if start_date>=min(df.date) and end_date<=max(df.date):
C:\Users\siddh\AppData\Local\Temp/ipykernel_15732/495276918.py:1: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if start_date>=min(df.date) and end_date<=max(df.date):

In [5]:
if cat_type not in set(df.category) and cat_type!='all':
    sys.exit()

In [12]:
mapping={'frontpag':'frontpage','sport':'sport','busi':'business','nation':'national','intern':'international'}
qqqqq={}
for i in mapping:
    qqqqq[mapping[i]]=i
print(qqqqq)

{'frontpage': 'frontpag', 'sport': 'sport', 'business': 'busi', 'national': 'nation', 'international': 'intern'}

In [11]:
mapping={'frontpag':'frontpage','sport':'sport','busi':'business','nation':'national','intern':'international'}
print(df[df.category.isin(["busi"])])

             date category                            unpreprocessed_headline  \
18     2012-01-01     busi                        IOC plans LPG pipeline grid
19     2012-01-01     busi             Telecom sector still at the crossroads
20     2012-01-01     busi        Lack of new orders hits construction sector
21     2012-01-01     busi                NTPC board clears two mega projects
22     2012-01-01     busi  Lupin gets final FDA nod for generic Tricor ta...
...           ...      ...                                                ...
352258 2022-04-22     busi  niti-aayog-targets-ev-push-with-battery-swappi...
352259 2022-04-22     busi  three-key-states-said-to-plan-coal-imports-to-...
352260 2022-04-22     busi  fertilizer-subsidies-may-surge-to-rs-19-lakh-c...
352261 2022-04-22     busi           hcl-tech-q4-net-triples-to-rs-3593-crore
352262 2022-04-22     busi     refiners-said-to-skip-rosneft-oil-sale-tenders

                                            named_tags
18                                 [IOC, LPG pipeline]
19                    [Telecom sector, the crossroads]
20             [Lack, new orders, construction sector]
21                     [NTPC board, two mega projects]
22      [Lupin, final FDA nod, generic Tricor tablets]
...                                                ...
352258                                       [battery]
352259                                          [plan]
352260                                            [cr]
352261                                        [rs3593]
352262              [refiners, rosneft, sale, tenders]

[33481 rows x 4 columns]

In [6]:
if cat_type=='all':
    df=df
else:
    df=df[df.category==cat_type]
    df=df.reset_index(drop=True)

In [7]:
df = df[(pd.Timestamp(start_date)<=df.date) & (df.date<=pd.Timestamp(end_date))]
df=df.reset_index(drop=True)

In [8]:
grouped=df.groupby(by='date')

In [9]:
d=dict()
for i in grouped:
    curr_df=i[1]
    s=set()
    for j in curr_df.named_tags:
        if len(j)>=2:
            for l in range(len(j)-1):
                curr_bigram=tuple(sorted([j[l].lower(),j[l+1].lower()]))
                s.add(curr_bigram)
    for j in s:
        if j in d:
            d[j]+=1
        else:
            d[j]=1

In [11]:
d = dict(sorted(d.items(), key=lambda item: item[1],reverse=True))

In [12]:
d_list = list(d.keys())

In [13]:
d_list[:10]

[('anand', 'carlsen'),
 ('adraw', 'play'),
 ('carlsen', 'play'),
 ('achance', 'india'),
 ('bedes', 'st'),
 ('thomasjohn', 'title'),
 ('edukick', 'scout'),
 ('aplan', 'mostbowlers'),
 ('goldenday', 'tamil'),
 ('breeders', 'stud')]

In [14]:
df.head()

,date,category,unpreprocessed_headline,named_tags
0,2014-02-01,sport,yuki-bhambri-puts-india-ahead,[yukibhambriputsindiaahead]
1,2014-02-01,sport,australia-sweeps-to-series-win,[series]
2,2014-02-01,sport,sindhu-has-the-potential-to-win-the-allengland...,"[sindhu, title, thomasjohn]"
3,2014-02-01,sport,fifa-demands-update-from-qatar,[qatar]
4,2014-02-01,sport,vani-kapoor-wins-first-leg,[vanikapoorwinsfirstleg]

In [21]:
def return_headline(tple):
    heading_list = []
    for i in range(len(df.named_tags)):
        if (tple[0] in df.named_tags[i]) and (tple[1] in df.named_tags[i]):
            heading_list.append(df.unpreprocessed_headline[i])
    return heading_list

In [27]:
return_headline(d_list[9])

['be-safe-for-kunigal-stud-breeders-produce-stakes']